.navigation__link_unauthorized {
    font-size: 10px;
    line-height: 16px;
}

.navigation__link_registration {
    margin-right: 14px;
    transition: opacity ease 0.5s;
}

.navigation__link_registration:hover {
    opacity: 0.7;
}

.navigation__login-button {
    height: 26px;
    width: 54px;
    background-color: #3ddc84;
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    transition: background-color ease 0.5s;
}

.navigation__login-button:hover {
    cursor: pointer;
    background-color: #b2f0ce;
}

@media screen and (min-width: 768px) {
    .navigation__link_unauthorized {
        font-size: 12px;
    }

    .navigation__link_registration {
        margin-right: 30px;
    }

    .navigation__login-button {
        font-size: 12px;
        height: 32px;
        width: 76px;
    }
}
