.header__nav-button {
    border: none;
    background-color: #202020;
    background-image: url("../../images/burger-menu.svg");
    width: 40px;
    height: 43px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}
